html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
}


.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom:100px;
    margin-top:50px;
    margin-left:200px;
    margin-right:200px;
}

.navbar-form {
        display: flex;
        justify-content: center;
    }

    .navbar-form .form-group {
        margin: 0 auto;
    }

    .navbar-form input[type=text] {
        width: 300px;
    }

.btn-write {
  background-color: green;
}

body {
    background-image: url("/img/bg.jpg");
}


/* main.html 부분 */
.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
}
.table {
    background-color: white;
}


 body {
        background-image: url("/img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        }
        .bg-img {
            width: 100%;
            height: auto;
        }
        .table-container {
        display: flex;
        justify-content: center;
        }


/* content.html 부분 */
.form-container {
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-top: 50px;
        }
        .hashtag-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
        }
        .hashtag-input {
            width: 150px;
        }
        .file-container {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }
        .file-path {
            flex: 1;
            margin-right: 10px;
        }
        .btn-add {
            cursor: pointer;
        }
        .btn-remove {
            cursor: pointer;
        }

     body {
        background-image: url("/img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        }
        .bg-img {
            width: 100%;
            height: auto;
        }
        .table-container {
        display: flex;
        justify-content: center;
        }