/* content.html css 부분*/

.form-container {
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-top: 50px;
        }
        .hashtag-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
        }
        .hashtag-input {
            width: 150px;
        }
        .file-container {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }
        .file-path {
            flex: 1;
            margin-right: 10px;
        }
        .btn-add {
            cursor: pointer;
        }
        .btn-remove {
            cursor: pointer;
        }

     body {
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        }
        .bg-img {
            width: 100%;
            height: auto;
        }
        .table-container {
        display: flex;
        justify-content: center;
        }

.writeButton {      /* 글쓰기 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.writeButton:hover {
  background-color: #ffce00;
  color: #fff9e4;
}

.cancelButton {     /* 취소 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.cancelButton:hover {
  background-color: #ffce00;
  color: #fff9e4;
}

.btn-add { /* 해시태그 + 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.btn-add:hover {
  background-color: #ffce00;
  color: #fff9e4;
}

/*.btn-add {  *//* + 버튼 *//*
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.btn-add:hover {
  background-color: #ffce00;
  color: #fff9e4;
}*/

.btn-remove{      /* - 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.btn-remove:hover {
  background-color: #ffce00;
  color: #fff9e4;
}


.btn-file {   /* 파일첨부 버튼 */
     background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.btn-file:hover {
  background-color: #ffce00;
  color: #fff9e4;
}


/* main.html css 부분 */

.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
}
.table {
    background-color: white;
}

/* main button 부분 */

.btn {
  border: none;
}

button#dMB1 {      /* 버튼 전체 부분*/
    background-color: #feec9e;
    color: #7c6839;
}

#dMB1:hover {
  background-color: #ffce00; /* 원하는 색상으로 변경 */
  color: #fff9e4; /* 원하는 색상으로 변경 */
}

button#dMB2 {       /* 버튼 검색 부분 */
    background-color: #feec9e;
    color: #7c6839;
}
#dMB2:hover {
  background-color: #ffce00; /* 원하는 색상으로 변경 */
  color: #fff9e4; /* 원하는 색상으로 변경 */
}

button#dMB3 {       /*버튼 글쓰기 부분 */
    background-color: #feec9e;
    color: #7c6839;
}
#dMB3:hover {
  background-color: #ffce00; /* 원하는 색상으로 변경 */
  color: #fff9e4; /* 원하는 색상으로 변경 */
}

/* main 페이지 처리 부분 */
.page-link {
    color: #7c6839;
    background-color: #feec9e;
    border-color: #feec9e;
}
.page-link:hover {
    color: #fff9e4;
    background-color: #ffce00;
    border-color: #ffce00;
}
.pagination .page-item.disabled .page-link {    /* 이전 버튼 css */
  color: #7c6839;
  background-color: #feec9e;
  border-color: #feec9e;
}






/* userForm */
.fieldError {
            color: #bd2130;
        }
.okButton {
    background-color: #feec9e; /* 배경색상 */
    border-color: none; /* 테두리 없앰 */
    color: #7c6839;
}
.okButton:hover {
    background-color: #ffce00; /* 배경색상 */
    color: #fff9e4;
}

/* userLoginForm */
 .error{
     color:#bd2130;
 }


.loginButton {
  background-color: #feec9e; /* 배경색상 */
  border-color: none; /* 테두리 없앰 */
  color: #7c6839;
}
.loginButton:hover {
  background-color: #ffce00; /* 배경색상 */
  color: #fff9e4;
}

.signupButton {
  background-color: #feec9e; /* 배경색상 */
  border-color: none; /* 테두리 없앰 */
  color: #7c6839;   /* 글자 색 */
}
.signupButton:hover {
  background-color: #ffce00; /* 배경색상 */
  color: #fff9e4;
}

