
/* content.html css 부분*/

.form-container {
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            margin-top: 50px;
        }
        .hashtag-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
        }
        .hashtag-input {
            width: 150px;
        }
        .file-container {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;
        }
        .file-path {
            flex: 1;
            margin-right: 10px;
        }
        .btn-add {
            cursor: pointer;
        }
        .btn-remove {
            cursor: pointer;
        }

     body {
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        }
        .bg-img {
            width: 100%;
            height: auto;
        }
        .table-container {
        display: flex;
        justify-content: center;
        }

.writeButton {      /* 글쓰기 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.writeButton:hover {
  background-color: #ffce00;
  color: #fff9e4;
}

.cancelButton {     /* 취소 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.cancelButton:hover {
  background-color: #ffce00;
  color: #fff9e4;
}

.btn-add { /* 해시태그 + 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.btn-add:hover {
  background-color: #ffce00;
  color: #fff9e4;
}



.btn-remove{      /* - 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.btn-remove:hover {
  background-color: #ffce00;
  color: #fff9e4;
}


.btn-file {   /* 파일첨부 버튼 */
     background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.btn-file:hover {
  background-color: #ffce00;
  color: #fff9e4;
}

/* contentview.html */

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.like-button {
  margin-left: 10px;
}

.listButton {     /* 취소 버튼 */
      background-color: #feec9e;
      border: none;
      color: #7c6839;
    }

.listButton:hover {
  background-color: #ffce00;
  color: #fff9e4;
}


.btn-margin {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.my-textarea {
height: 200px; /* 원하는 높이 값으로 조정 */
  overflow-y: auto; /* 스크롤 막대 추가 */
}


/* 댓글*/

.comment-container, .comment-list-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.btn-sm {   /* 댓글달기 버튼 */
 background-color: #feec9e;
      border: none;
      color: #7c6839;
}
.btn-sm:hover {
  background-color: #ffce00;
  color: #fff9e4;
}
.comment-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.comment-input {
  flex: 1;
}

.btn-comment {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
}



/* ul 점 제거 */
ul#commentList {
  list-style-type: none; /* 점 제거 */
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */
}

ul#commentList li {
  margin-bottom: 10px; /* 각 댓글 사이에 간격 추가 */
}


.reply-list li {
  image: url("../img/panda.png");
}
.reply-list img {
  max-width: 25px;
  max-height: 25px;
  height: auto;
}

/* 댓글 버튼 수정, 삭제 css */
.reply-actions {
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  float: right;
}

.reply-actions button {
  padding: 0px;
  margin-left: 5px;
  font-size: 12px;
  color: gray;
}

.reply-actions button:hover {
  color: black;
}


/* 댓글 수정,삭제 버튼 정렬 */
.textarea-wrapper {
    display: flex;
    align-items: center;
}

.btn-group-vertical {
    display: flex;숮
    flex-direction: column;
    align-items: center;
}

/* 대댓글 ul 점 없애기, 사진 넣기*/
.rereply-list {
  list-style-type: none;

}
.rereply-list::marker {
  display: none;
}

.rereply-list:before {
  content: "";
  display: inline-block;
  background-image: url('/img/reIcon.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* main.html css 부분 */

.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
}
.table {
    background-color: white;

}
.table-container {
  width: 1000px; /* 원하는 너비 설정 */
}
 table {
        table-layout: fixed;
        width: 100%;
    }

    th, td {
        text-align: center;
        vertical-align: middle;
    }

    th:nth-child(1), td:nth-child(1) {
        width: 10%;
    }

    th:nth-child(2), td:nth-child(2) {
        width: 30%;
    }

    th:nth-child(3), td:nth-child(3), th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5) {
        width: 10%;
    }


    /* main 검색 부분 */

    .search2 {
      background-color: #feec9e;
      color: #7c6839;
    }

    .search1{
      background-color: #feec9e;
      color: #7c6839;
    }

    #my-sort {
      background-color: #feec9e;
      color: #7c6839;
    }



    /* main button 부분 */

    .btn {
      border: none;
    }

    button#dMB1 {      /* 버튼 전체 부분*/
        background-color: #feec9e;
        color: #7c6839;
    }

    #dMB1:hover {
      background-color: #ffce00; /* 원하는 색상으로 변경 */
      color: #fff9e4; /* 원하는 색상으로 변경 */
    }

    button#dMB2 {       /* 버튼 검색 부분 */
        background-color: #feec9e;
        color: #7c6839;
    }
    #dMB2:hover {
      background-color: #ffce00; /* 원하는 색상으로 변경 */
      color: #fff9e4; /* 원하는 색상으로 변경 */
    }

    select#searchDateType {       /* 버튼 검색 부분 */
        background-color: #feec9e;
        color: #7c6839;
    }

    select#searchBy {       /* 버튼 검색 부분 */
        background-color: #feec9e;
        color: #7c6839;
    }



    button#dMB3 {       /*버튼 글쓰기 부분 */
        background-color: #feec9e;
        color: #7c6839;
    }
    #dMB3:hover {
      background-color: #ffce00; /* 원하는 색상으로 변경 */
      color: #fff9e4; /* 원하는 색상으로 변경 */
    }

    /* main 페이지 처리 부분 */
    .page-link {
        color: #7c6839;
        background-color: #feec9e;
        border-color: #feec9e;
    }
    .page-link:hover {
        color: #fff9e4;
        background-color: #ffce00;
        border-color: #ffce00;
    }
    .pagination .page-item.disabled .page-link {    /* 이전 버튼 css */
      color: #7c6839;
      background-color: #feec9e;
      border-color: #feec9e;
    }






    /* userForm */
    .fieldError {
                color: #bd2130;
            }
    .okButton {
        background-color: #feec9e; /* 배경색상 */
        border-color: none; /* 테두리 없앰 */
        color: #7c6839;
    }
    .okButton:hover {
        background-color: #ffce00; /* 배경색상 */
        color: #fff9e4;
    }

    /* userLoginForm */
     .error{
         color:#bd2130;
     }


    .loginButton {
      background-color: #feec9e; /* 배경색상 */
      border-color: none; /* 테두리 없앰 */
      color: #7c6839;
    }
    .loginButton:hover {
      background-color: #ffce00; /* 배경색상 */
      color: #fff9e4;
    }

    .signupButton {
      background-color: #feec9e; /* 배경색상 */
      border-color: none; /* 테두리 없앰 */
      color: #7c6839;   /* 글자 색 */
    }
    .signupButton:hover {
      background-color: #ffce00; /* 배경색상 */
      color: #fff9e4;
    }



    /* header.html */

    .navbar-brand {
      background-image: url('../img/home.png');
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 120px;
      height: 80px;
    }

    /* contentview.html */

    .form-group .btn-add-comment, .form-group .btn-edit-comment {
        float: right;
    }


    /* 좋아요 부분 */


    .like-button {
      margin-left: 20px;
      background-color: #feec9e; /* 배경색상 */
      border-color: none; /* 테두리 없앰 */
      color: #7c6839;   /* 글자 색 */
    }

    .like-button:hover {
      background-color: #ff0044; /* 배경색상 */
      color: #fff9e4;
    }

    .like-button.active {
      background-color: #ff0044;
    }

