<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta charset="UTF-8" />
  <title>게시판 상세페이지</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
<header th:insert="fragments/header.html"></header>
<img src="../img/home.png" alt="home image" width="120" height="80" />
<div layout:fragment="content">

  <input type="hidden" id="BoardId" th:value="${BoardFormDto.boardId}">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div role="form" method="post" enctype="multipart/form-data">
          <div class="form-container">

            <div class="form-group">
              <div class="title-container">
                <label th:for="inputTitle"><strong>제목</strong></label>
                <button type="button" class="btn btn-primary like-button" onclick="likeButtonClick()">❤</button>
              </div>
              <input type="text" name="title" class="form-control" id="inputTitle" th:value="${BoardFormDto.title}" readonly />
            </div>

            <div class="form-group">
              <div class="picture">
              </div>
                <label for="inputContent"><strong>내용</strong></label>
              <p class="form-control my-textarea" aria-label="With textarea" th:text="${BoardFormDto
              .content}" name="content" id="inputContent" rows="5"></p>
            </div>



            <div class="form-group">
              <label for="inputHashtag" ><strong>해시태그</strong></label>
              <div class="hashtag-container">
                <input type="text" name="hashtag" class="form-control hashtag-input" id="inputHashtag" />
                <button type="button" class="btn btn-primary btn-add">+</button>
              </div>
            </div>


              <!-- 댓글 목록 -->
              <div class="form-group">
                  <label for="commentList"><strong>댓글 목록</strong></label>
                  <div class="comment-list-container">
                      <ul id="commentList" th:each="reply: ${replies}">
                          <li class="reply-list">
                              <img th:src="@{/img/panda.png}" alt="판다캐릭터">
                              <span class="reply-author">(익명)</span>
                              <span th:text="${reply.reContent}"></span>
                              <div class="btn-group" style="float: right;">
                                  <button type="button" class="btn btn-primary btn-sm btn-comment-action">
                                      <img src="/img/edit.png" alt="Edit" width="16" height="16">
                                  </button>
                                  <button type="button" class="btn btn-danger btn-sm btn-comment-action">
                                      <img src="/img/delete.png" alt="Delete" width="16" height="16">
                                  </button>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>

              <form role="form" method="post" enctype="multipart/form-data" th:object="${replyFormDto}">

                  <!-- 댓글 부분 -->
                  <div class="form-group">
                      <label for="inputComment"><strong>댓글</strong></label>
                      <div class="comment-container">
                          <input type="hidden"  th:field="*{board}" th:value="${replyFormDto.board}">
                          <input type="text" th:field="*{reContent}" name="comment" class="form-control comment-input" id="inputComment" />
                          <button type="submit" class="btn btn-primary btn-comment btn-sm">댓글달기</button>
                      </div>
                  </div>
              </form>



            <!-- 페이지 수정 삭제-->
            <div class="form-group">
              <div class="btn-margin">
                <button type="button" class="btn btn-primary writeButton" th:href="@{'/hbrg/ex01/'+${BoardFormDto.boardId}}" onclick="location.href=this.getAttribute('href')">수정</button>
                <!--              글삭제(23/04/18 16:58)-->
                <!--                <button type="button" class="btn btn-secondary cancelButton" th:href="@{'/hbrg/ex02/delete/'+${BoardFormDto.boardId}}" onclick="location.href=this.getAttribute('href')">삭제</button>-->
                <button type="button" class="btn btn-secondary cancelButton" th:href="@{/hbrg/ex02/delete/{boardId}(boardId=${BoardFormDto.boardId})}" onclick="location.href=this.getAttribute('href')">삭제</button>

                <button onclick="location.href='/'" type="button" class="btn btn-secondary listButton">목록</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
// 내용
var textarea = document.querySelector(".my-textarea");

textarea.addEventListener("input", function(){
  this.style.height = "auto";
  this.style.height = (this.scrollHeight) + "px";
});



function likeButtonClick() {
  var btn = document.querySelector(".like-button");
  btn.classList.toggle("active");
}

  // 게시글 ID 가져오기
  var boardId = document.querySelector('#BoardId').value;

  // 좋아요 요청 보내기
  fetch('/like/' + boardId, { method: 'POST' })
    .then(response => response.json())
    .then(data => {
      // 좋아요 버튼 텍스트 업데이트
      var btnLike = document.querySelector('.like-button');
      if (data.liked) {
        btnLike.textContent = '취소하기';
      } else {
        btnLike.textContent = '좋아요';
      }
    })
    .catch(error => console.error(error));
}


</script>
</body>
</html>